body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
  font-size: smaller;
  margin: 0 auto;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  display: block;
  font-size: 16px;
  text-align: left;
}
.weather-app {
  border: 1px solid #eee1cc;
  border-radius: 12px;
  margin: 45px auto;
  max-width: 1000px;
  padding: 30px;
}
.city-name {
  color: #17202a;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
}
.date-hour {
  text-align: right;
}
.current-temp {
  align-items: center;
  display: flex;
  justify-content: center;
}
.current-temp img {
  height: 70 px;
  margin-right: 10px;
  width: 70 px;
}
.temp-value {
  font-size: 60px;
  font-weight: normal;
}
.value-units {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}
.units {
  font-size: 20px;
  margin: 18px auto;
  padding-left: 7px;
}
